.item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

.countControl {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countControl button {
  background-color: rgb(73, 139, 215);
  border-color: rgb(73, 139, 215);
}

.countControl button:hover {
  color: rgb(255, 255, 255);
}

.delete {
  background-color: rgb(255, 58, 58) !important;
  border-color: rgb(255, 58, 58) !important;
}

.delete:hover {
  background-color: #fff !important;
  color: rgb(255, 58, 58) !important;
}
