.product {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.content {
  display: flex;
  margin-top: 3rem;
}

.list {
  width: 70%;
}

.count {
  color: rgb(165, 165, 165);
  font-weight: 400;
}

@media (max-width: 1200px) {
  .list {
    width: calc(100% - 1rem);
  
  }
  .content {
    flex-direction: column;
  }
}