.paramList {
  display: block;
  background-color: rgba(0, 119, 255, 0.05);
  padding: 1rem;
  border-radius: 0.3rem;
  width: max-content;
}

.paramList h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.699);
}

.paramList li {
  font-size: 1rem;
}
