.header {
  background-color: rgb(73, 139, 215);
  padding: 1rem 0;

  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.header button {
  background-color: rgb(73, 139, 215);
  color: #fff;
  border-color: #fff;
  font-weight: bold;
}

.header button:hover {
  background-color: #fff;
  color: rgb(73, 139, 215);
  border-color: #fff;
}

.header button:active {
  background-color: rgb(205, 205, 205);
  border-color: rgb(205, 205, 205);
}

.search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: calc(100% - 2rem);

  padding: 0.35rem 0;
  color: #fff;
}

.search:focus {
  outline: none !important;
}

.wrapper {
  color: #fff;
  width: 50%;
}

.catalog {
  border-radius: 0 0.3rem 0.3rem 0;
}

.home {
  border-radius: 0.3rem 0 0 0.3rem;
  border-right: none;
}

.cart {
  margin-right: 1rem;
}
