.category h2 {
  padding: 1rem;
}

.category:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.categoryName {
  color: #000000;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.category img {
  width: 15rem;
  height: 10rem;
  object-fit: cover;
}

.category {
  width: calc(15rem + 2px);
}
